.sj-parallax {
    transition: 0ms linear;
}

.sj-parallax[data-type="fixedheader"],.sj-parallax[data-type="fixedbackground"] {
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
}
